<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row align-items-top">

      <div class="col-md-6 no-float" id="col-left">


        <div class="row">
          <img src="https://ecommerce.parfois.com/public/assets/img/parfois-transparent.png" alt="My Image" class="float-left"
            id="img-1">
        </div>

        <div class="row">
          <form>

            <div class="row">

              <div class="col-xs-6">
                <input type="text" class="form-control login-username" id="login-username" aria-describedby="emailHelp"
                  placeholder="Login">
              </div>

              <div class="col-xs-6">
                <input type="password" class="form-control login-password" id="login-password" placeholder="Password">
              </div>

            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="rem-password">
                  
                </div>
              </div>
              <div class="col-sm-8 text-right">
                <div class="forgot-password"></div>
                <button type="submit" class="btn blue" id="button-login">Entrar</button>
              </div>
            </div>

          </form>
        </div>

      </div>
      <div class="col-md-6 no-float" id="col-right"></div>

    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>